<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="https://i.pinimg.com/736x/15/f9/9e/15f99e6cabe6099c2a181683b2fd8df1.jpg" style="width:100%">
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a href="about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>OUR SERVICES</p>
    </a>
    <a href="contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-envelope w3-xxlarge"></i>
      <p>CONTACT</p>
    </a>
  </nav>
  
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="about" class="w3-bar-item w3-button" style="width:25% !important">OUR SERVICES</a>
    <a href="contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

  
</body>
</html>