<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Store</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="../public/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background-color: black">
    <header><%- include('./partials/header'); %></header>
    <main id="main">
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">ABOUT US</h2>
      <hr style="width: 200px" class="w3-opacity" />
      <p>
        Hello and welcome to ELLE Store, the place to find the best clothing
        brands for every taste and occasion. We thoroughly check the quality of
        our goods, working only with reliable suppliers so that you only receive
        the best quality product. We at ELLE Store believe in high quality and
        exceptional customer service. But most importantly, we believe shopping
        is a right, not a luxury, so we strive to deliver the best products at
        the most affordable prices, and ship them to you regardless of where you
        are located.
      </p>
      <h3 class="w3-padding-16 w3-text-light-grey">WHERE TO FIND US</h3>
      <div class="pts-inner ps-container page-width">
        <div class="page-width">
          <div class="row-inner row-level-1 container">
            <div class="row clearfix">
              <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-inner">
                  <div class="pk-widget widget-html">
                    <div class="pts-widget" id="wid-key_1603814983268">
                      <div class="widget-html block title_center">
                        <div
                          class="
                            widget-inner
                            block_content
                            text-center
                            justify-content-center"
                            
                        >
                          <h4
                            class="module-title title-nos-magasins center-title"
                          >
                            <span>STORE CHAIN</span>
                          </h4>
                          <div class="row-inner row-level-1 container wrapper">
                            <div class="f_banner4 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.com/maps/place/Centre+zayeti/@35.646798,10.8831701,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xeb48e7078d197f23!8m2!3d35.646798!4d10.8853588"
                                  >Ksar Helal</a
                                ><br />Monastir<br />
                                149.Av.Habib Bourguiba
                              </p>
                            </div>
                            <div class="f_banner5 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.com/maps/place/Centre+Slim/@35.8452415,10.6205015,15z/data=!4m5!3m4!1s0x0:0xba23359fc940d6a5!8m2!3d35.8452415!4d10.6205015"
                                  >Gold Sousse</a
                                ><br />Slim Centre<br />
                                Av. 14 janvier
                              </p>
                            </div>
                            <div class="f_banner6 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa5"
                                  href="https://www.google.tn/maps/search/Avenue+Maghreb+Arabe,+Avenue+Khezama,+Sousse+strass+acceessoire/@35.8373398,10.5961784,15z/data=!3m1!4b1?hl=fr"
                                  >Khzema </a
                                ><br />Sousse<br />
                                Av. 14 Maghreb Arabe
                              </p>
                            </div>
                            <div class="f_banner7 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.com/maps/place/Strass+Accessoires+Nabeul/@36.4521638,10.7301819,15z/data=!4m5!3m4!1s0x0:0x5a6899a68351cca0!8m2!3d36.4521638!4d10.7301819"
                                  >NABEUL</a
                                ><br />Av. Habib Thameur<br /><br />
                              </p>
                            </div>
                            <div class="f_banner8 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.tn/maps/place/STRASS+accessoires/@36.8277596,10.169848,14z/data=!4m8!1m2!2m1!1sRue+Mouaouia+Ibn+Abi+Soufiane,+Tunis+strass+accessoire!3m4!1s0x12fd33c6f0689e8b:0xd9369d38e10df786!8m2!3d36.8520686!4d10.1680764?hl=fr"
                                  >Menzah 6</a
                                ><br />Av. Mouaouia <br />
                                Ibn Abi Soufiane
                              </p>
                            </div>
                            <div class="f_banner4 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.tn/maps/place/Strass+Sahoul/@35.8331823,10.5882922,17z/data=!4m8!1m2!2m1!1sSOUSSE+Sahloul+Rue+Yasser+Arafat+strass+accessoire!3m4!1s0x12fd8b4e4d0b7c23:0x35845a510fcf27aa!8m2!3d35.8334196!4d10.5903335?hl=fr"
                                  >Sahloul</a
                                ><br />
                                Sousse<br />Bd Yasser Arafat
                              </p>
                            </div>
                            <div class="f_banner8 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.tn/maps/place/STRASS+Accessoires+Soukra/@36.8746145,10.2425881,17z/data=!4m8!1m2!2m1!1sSOUKRA+Fin+de+l%E2%80%99avenue+de+l%E2%80%99UMA,strass+accessoire!3m4!1s0x12e2cabd93819dd1:0xd3d05b4a07b65021!8m2!3d36.8746102!4d10.2447768?hl=fr"
                                  >Soukra</a
                                ><br />Fin de<br />l’avenue de l’UMA
                              </p>
                            </div>
                            <div class="f_banner8 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.com/maps/place/Tunisia+Mall/@36.8479914,10.2788652,15z/data=!4m5!3m4!1s0x0:0x97b81064f47410e2!8m2!3d36.8479914!4d10.2788652"
                                  >TUNISIA MALL</a
                                ><br />Tunisia Mall <br />2éme étage, LAC II
                              </p>
                            </div>
                            <div class="f_banner4 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.com/maps/place/Mall+of+Sousse/@35.9035546,10.5437192,15z/data=!4m5!3m4!1s0x0:0x981655a0623e12a2!8m2!3d35.9035546!4d10.5437192"
                                  >Sousse Mall</a
                                >&nbsp;<br />
                                Km127 GP1,<br />
                                kalaa el kebira
                              </p>
                            </div>
                            <div class="f_banner4 container-location">
                              <i
                                class="fas fa-map-marker-alt"
                                style="font-size: 48px; color: white"
                              ></i>
                              <p>
                                <a
                                  class="ffa4"
                                  href="https://www.google.fr/maps/place/Le+Vicomte/@35.8463106,10.6173262,17z/data=!4m12!1m6!3m5!1s0x12fd8a77ea8e3537:0x596b48a2c0c10b7e!2sLe+Vicomte!8m2!3d35.8475764!4d10.6183847!3m4!1s0x12fd8a77ea8e3537:0x596b48a2c0c10b7e!8m2!3d35.8475764!4d10.6183847"
                                  >Le Vicomte
                                </a>
                                <br />
                                Avenue 14 janvier<br />
                                Sousse
                              </p>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
